* {
  font-family: Tahoma, sans-serif;
}

a:link{
  text-decoration: none;
  color:rgb(255, 251, 251);
  font-size: 1.5em;
}

a:hover{
  text-decoration: none;
  color: black;
}

header{
    color: black;
}

head{
  position: absolute;
}

nav {
    float: right;
    position: sticky;
    top:0;
    overflow: hidden;
    background-color: aliceblue;
    margin:0;
    padding:20px;

}

nav li{
  display: inline;
}

.box{
  text-align: center;
  float: left;
  background-image: url(../images/GunungBoromo.jpg);
  width: 100%;
  height: 1500px;
  padding: 0px;
  margin: 0px;
  border: white;
}

h2{
  color: black;
  font-size: 6em;
  font-weight: lighter;
}

.blurb{
  color: black;
  position: absolute;
  left: 100px;
  top: 100px;
}

main{
  position: absolute;
  left:50px;
  top: 50px;
  padding: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
nav li {
  margin: 0;
  padding: 10px;
  display: inline;
}

footer{
  background-color: aliceblue;
}